.footer__logo {
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: inline-block;
}
.header__logo {
  font-family: Raleway, sans-serif;
  color: black;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.logo--catching {
  color: var(--accent-color--);
}

