:root {
  --primary-title-color--: #212121;
  --accent-color--: #2196f3;
  --text--color--: #757575;
  --background--: #2f303a;
  --primary-background-color--: #e5e5e5;
  --header-color--: #ffffff;
  --button-current-color--: #f5f4fa;
  --grid-item: 4;
  --icon-color--: #afb1b8;
}
